/*
    Criar variáveis
    Mudar atributos width e height para calc()
    */
:root {
    font-size: calc(0.625rem + 0.4vw);
}

* {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body{
    box-sizing: border-box;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.main {
min-height: 100vh;
display: grid;
grid-template: auto 4fr/ 1fr 4fr;
border: 1px solid red;
}

.sidebar {
    border: 1px solid blue;
    padding: 20px;
    color: white;
    background-color: royalblue;
    grid-row-start: 1;
    grid-row-end: 3;

}

.header {
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
    grid-area: 1 / 2 /2 /-1;
    border: 1px solid purple;
    padding: 10px;
}

.header * {
    margin: 5px;
}

.searchbar {
    display: flex;
    justify-content: center;
}

.searchbar .box {
    padding-left: 10px;
    border:0.5px solid black;
    border-radius: 20px;
    width: 100%;
}

.profile {
    display: grid;
    grid-template: 1fr 1fr / auto 1fr;
    align-items: center;
    gap: 0.5rem 1rem;
}

.image {
    width: 90px;
    height: 90px;
    background-color: gold;
    border-radius: 50%;
    grid-row-start: 1;
    grid-row-end: 3;
}

.settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image.small {
    height: 40px;
    width: 40px;
}

.bttns-container {
    display: flex;
    justify-content: center;
}

.bttns-container button {
    color: white;
    background-color: royalblue;
    border: none;
    border-radius: 30px;
    margin: 20px;
    height: 40px;
    width: 100px;
    font-size: large;
    
}

.content {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 10px;
    border: 1px solid violet;
}

.cards {
    border: 1px solid aqua;
    padding: 10px;
    
}

.cards.small1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.cards.small2 {
    grid-row-start: 3;
    grid-row-end: 5;
}

.cards.big {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
}